body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 11pt;
    background-color: #FAFAFA;

    /* not 100% sure about this beeing ideal */
    text-align: center;
}

#settingsOpener {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor:pointer;
}

#priceSliderGroup {
    display: none;
    margin-bottom: 20px;
}

#priceSlider {
    margin-bottom: 10px;
}

#priceLabel {
    font-size: 1.2em;
}

#calculateBtn {
    margin-top: 15px;
}

#titleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    min-width: 150px;
}

#baleadaContainer {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* scaling testing helping values */
    /* height: 200px; */
    /* overflow: hidden; */
}

.fullWidthImg {
    width: 100%;
    height: auto;
}

.baleadaFlexItems {
    display: none;
    align-self: center;

    /* safari bug fix from https://stackoverflow.com/a/57529046 */
    align-items: flex-start;
}

.baleadaImg {    
    /* is now modified by calculate.js */
    flex-basis: 5vw;
    flex-grow: 0.5;
    flex-shrink: 0.8;
}

#baleadaManImg {
    width: 15vw;    
}

#resultText {
    display: none;
    font-size: 1.5em;
    font-weight: 400;
}

#attributionContainer {
    position: fixed;
    bottom: 8px;
    right: 16px;

    text-align: right;
    color: #9b9b9b;
    font-size: 0.75em;
}

span.attributionLine {
    display: block;
}